/* Ganti font-family tag <body> ke "Avenir Next" */
body {
  font-family:"Avenir Next";
}

/* Gunakan property list-style untuk menghilangkan bullet dari tag <li> */
li {
  list-style: none;
}

/* Ganti background-color header menjadi #f7f2b4 dan height menjadi 90px */
.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

/* Ganti font-size milik header-logo menjadi 36px, dan property float menjadi left */
.header-logo {
  font-size: 36px;
  float: left;
  /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kanan ke 40px */
  padding: 20px 40px;
}

/* Tambahkan CSS tag <li> yang di atas ke dalam header-list */
.header-list li {
  /* Ganti property float menjadi left */
  float: left;
  /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kanan ke 20px */
  padding: 33px 20px;
}

/* Ganti background-color main menjadi #bdf7f1 dan height menjadi 600px */
.main {
  /* Hapuskan CSS background-color */
  /* background-color: #bdf7f1; */
  
  /* Hapuskan CSS height */
  /* height: 600px; */

  /* Ganti padding atas & bawah ke 100px, dan padding kiri & kanan ke 80px */
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 120px;
}

.copy-container h2 {
  font-size: 60px;
}

/* Ganti color tags <span> di dalam copy-container */
.copy-container span {
  color: #ff4a4a;
}

/* Ganti tinggi contents ke 500px */
.contents {
  height: 500px;
  /* Ganti property margin-top ke 100px */
  margin-top: 100px;
}

/* Ganti property border-bottom milik section-title */
.section-title {
  border-bottom: 2px solid #dee7ec;

  /* Ganti font-size ke 28px */
  font-size: 28px;

  /* Ganti property padding-bottom ke 15px */
  padding-bottom: 15px;

  /* Ganti property margin-bottom ke 50px */
  margin-bottom: 50px;
}

/* Ganti property float milik contents-item ke left */
.contents-item {
  float: left;

  /* Ganti margin-right ke 40px memberi jarak antara gambar di class jurusan*/
  margin-right: 40px;
}

/* Ganti font-size dan margin-top tag <p> yang di dalam contents-item */
.contents-item p{
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

/* Ganti property padding-top milik contact-form ke 100px */
.contact-form {
  padding-top: 100px;
}

/* Mengubah Ukuran Gambar di Image Class tkj */
img.tkj {
  height: 210px;
  width: 210px;
}

/* Mengubah Ukuran Gambar di Image Class tkr */
img.tkr {
  height: 210px;
  width: 210px;
}

/* Mengubah Ukuran Gambar di Image Class itl */
img.itl {
  height: 210px;
  width: 210px;
}

/* Mengubah Ukuran Gambar di Image Class gb */
img.gb {
  height: 210px;
  width: 210px;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* Tambahkan CSS untuk contact-submit */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
/* Ganti background-color footer menjadi #ceccf3 dan height menjadi 270px */
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  /* Ganti padding untuk semua sisi ke 40px */
  padding: 40px;
}

/* Ganti font-size dan property float footer-logo */
.footer-logo {
  font-size: 32px;
  float: left;
}

/* Ganti float property footer-list */
.footer-list {
  float: right;
}

/* Tambahkan CSS untuk tag <li> ke dalam footer-list */
.footer-list li {
  padding-bottom: 20px;
}

